/*--------general--------*/
:root {
    --col-main-blue: #01a6e8;
    --col-main-blue-hover: #0993ca;
    --col-main-dark-blue: #054c68;
    --col-main-orange: #ffac14;
    --col-main-orange-hover: #ec9800;
    --col-main-orange-hover: #9d6600;
    --col-white: #edeaea;
    --col-black: #111111;
    --col-light-grey: #d3d3d3;
    --col-dark-grey: #aaa9a9;
    --col-light-theme-main: #f4f4f6;
    --col-light-theme-alt: #f3f3f7;
}

.container {
    width: min(100% - 40px, 1280px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.center {
    height: 100%;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
/*--------end of general--------*/

/*--------header--------*/

.container.flex.head {
    justify-content: space-between;
}

.dispair-air-logo {
    margin-top: 5px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 75px;
    width: 80px;
    visibility: visible;
}

header {
    background-color: var(--col-light-theme-main);
    min-width: 100%;
    display: flex;
    overflow: hidden;
    box-shadow: rgba(0 0 0 / 0.2) 0px 1px 25px;
    height: 70px;
    position: sticky; 
    top: 0;
    z-index: 99;
}

nav.head {
    color: var(--col-white);
    font-size: 0px;
    display: flex;
    animation: fadeIn 0.5s ease-in-out;
}

nav.head a {
    text-decoration: none;
    color: var(--col-white);
    transition: all 0.3s ease-in-out;
    display: inline-block;
    padding: 0 15px;
    font-size: 14px;
}

nav.head {
    width: 100%;
    text-align: right;
    justify-content: space-between;
}

nav.head ul {
    justify-content: space-between;
}
nav.head ul li  {
    display: inline;
}

nav.head ul li a {
    text-transform: capitalize;
    color: var(--col-black);
}

nav.head ul li a:hover {
    text-transform: capitalize;
    color: #000;
}

nav.head ul li a.c-button {
    text-align: center;
    margin-left: 20px;
    padding: 8px 20px 8px 20px;
    width: 100px;
    border-radius: 10px;
    margin-top: 17px;
    background-color: var(--col-main-blue);
    color: var(--col-white);
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}

nav.head ul li a.c-button:hover {
    background-color: var(--col-main-blue-hover);
    transition: all 0.3s ease-in-out;
}

i.fa-bars {
    color: var(--col-black);
    font-size: 30px;
    display: none;
}

.login-dialog {
    width: 400px;
    border-radius: 10px;
    display: none;
    position: fixed;
    top: 80px;
    right: 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.login-dialog label {
    display: block;
    margin-bottom: 10px;
}

.login-dialog input {
    border-radius: 10px;
    background-color: var(--col-light-theme-alt);
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-dialog button {
    border-radius: 10px;
    background-color: var(--col-main-blue);
    color: #fff;
    padding: 8px 20px 8px 20px;
    border: none;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/*--------end of header-------- */

/*--------hero--------*/

.image-container {
    position: relative;
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    overflow: hidden;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}

.image-container::before {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    content: '';
    background-color: rgb(0 0 0 / 80%);
    z-index: -1;
}

h1 {
    opacity: 0;
    font-size: 50px;
    color: var(--col-white);
    z-index: 0;
    vertical-align: top;
    animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}

button.breathe-in {
    text-transform: capitalize;
    opacity: 0;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    border-radius: 10px;
    width: 120px;
    background-color: var(--col-main-blue);
    transition: 0.3s ease-in-out;
    margin-right: 10px;
    color: var(--col-white);
    animation: fadeIn 0.5s ease-in-out 1.5s forwards;
}

button.breathe-in:hover {
    width: 120px;
    background-color: var(--col-main-blue-hover);
    transition: 0.3s ease-in-out;
    margin-right: 10px;
    color: var(--col-white);
    animation: fadeIn 0.5s ease-in-out 1.5s forwards;
}

/*--------end of hero--------*/

/*--------clouds--------*/

.cloud-container {
    position: relative;
    width: 100%;
    margin-top: -70px;
    z-index: -1;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 1.75s forwards; 
}

body {
    overflow-x: hidden;
}

@keyframes figure8 {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(40px);
    }
}

.cloud-animation {    
    top: 69%;
    left: 25%;
    transform: translate(-50%, -50%);
    animation: figure8 10s infinite;
    animation: figure8 10s infinite;
    transition: transform 0.5s ease-in-out;
}

.cloud,
.cloud-two,
.cloud-three,
.cloud-four,
.cloud-mass,
.cloud-mass-two {
    animation: figure8 10s infinite;
}

.cloud,
.cloud-two,
.cloud-three,
.cloud-four {
    animation: figure8 10s infinite;
    background-image: url(../img/cloud.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 25px;
    height: 90px;
    width: 100%;
    background-position: center center;
    position: absolute;
}

.cloud-mass,
.cloud-mass-two {
    animation: figure8 10s infinite;
    background-image: url(../img/cloud-mass.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 13px;
    height: 110px;
    width: 100%;
    background-position: center center;
    position: absolute;
}

.cloud-mass {
    top: 68%;
    left: -40%;
    animation: figure8 12.5s infinite;
    height: 110px;
    width: 100%;
}

.cloud-mass-two {
    top: 68%;
    left: 40%;
    animation: figure8 12.75s infinite;
    height: 110px;
    width: 100%;
}

.cloud {
    top: 70%;
    left: 26%;
    animation: figure8 15s infinite;
}

.cloud-two {
    top: 70%;
    left: -26%;
    animation: figure8 15s infinite;
}

.cloud-three {
    top: 68%;
    left: -20%;
    animation: figure8 12s infinite;
}

.cloud-four {
    top: 69%;
    left: 20%;
    animation: figure8 12s infinite;
}
/*--------end of clouds---------*/

/*--------products--------*/
#products {
    padding: 200px 0 125px 0;
    color: var(--col-black);
}

.products {
    box-shadow: rgba(0 0 0 / 0.2) 0px 5px 10px;
}

.product-intro {
    margin-bottom: 25px;
}

.product-title {
    margin-top: 25px;
}

.product-desc {
    margin-top: 10px;
}

h3 {
    margin-top: 40px;
    width: 100%;
    background-color: var(--col-light-theme-alt);
    padding: 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    margin-top: 25px;
    width: (275px);
    height: (400px);
    background-color: var(--col-light-theme);
    border-radius: 5px;
    flex: 1;
    margin: 10px;
    text-align: center;
    box-shadow: rgba(0 0 0 / 0.2) 0px 5px 10px;
    transition: color 0.3s ease-in-out;
}

.box:hover h3 {
    color: var(--col-main-blue );
    transition: color 0.3s ease-in-out;
}


.product-one,
.product-two,
.product-three {
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 25px;
    height: 200px;
    width: 100%;
    background-position: center center;
}

.product-one {
    background-image: url(../img/despair-air-1-pack.png);
}

.product-two {
    background-image: url(../img/despair-air-3-pack.png);
}

.product-three {
    background-image: url(../img/despair-air-10-pack.png);
}
/*--------end of products--------*/

/*--------about us---------*/

.two-columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#about {
    padding: 50px 0 75px 0;
    display: flex;

}

.about-logo {
    margin-top: 20px;
    background-image: url(../img/favicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 25px;
    height: 500px;
    width: 75%;
    background-position: center center;
}


.about-info {
   width: 50%;
}

div.conglomerate {
    margin-top: 150px;
    text-align: left;
    margin-right: 30px;
}

div.da-desc {
    margin-top: 20px;
    width: 100%;
    text-align: left
}

div.more {
    margin: 20px 0px 150px 0px;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

button.click-here {
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--col-main-blue);
    color: var(--col-white);
    transition: all 0.3s ease-in-out;
}

button.click-here:hover {
    background-color: var(--col-main-blue-hover);
    transition: all 0.3s ease-in-out;
}

/*--------end of about us--------*/

/*--------footer--------*/

.container.flex.foot {
    justify-content: space-between;
}

footer {
    margin-top: 0px;
    background-color: var(--col-light-theme-main);
    color: var(--col-white);
    height: 80px;
}

nav.foot {
    line-height: 80px;
}

nav.foot a i {
    line-height: 80px;
    color: var(--col-dark-grey);
    padding: 0 10px;
    font-size: 27px;
    transition: all 0.3s ease-in-out;
}

nav.foot a i:hover {
    line-height: 80px;
    color: var(--col-main-blue);
    transition: all 0.3s ease-in-out;
}

.copyright {
    line-height: 80px;
    color: var(--col-dark-grey);
    font-size: 14px;
}

/*--------end of footer--------*/

/*--------contact form--------*/

.form-p {
    font-size: 10px;
    color: var(--col-dark-grey);
    margin: 10px 0 10px 0;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: var(--col-light-theme-main);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 3;
    color: var(--col-black);
    border-radius: 10px;
}

.popup-form label {
    display: block;
    margin-bottom: 10px;
}

.popup-form input,
.popup-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #000;
    border: 1px solid var(--col-light-grey);
    border-radius: 10px;
}

.popup-form textarea {
    height: 120px;
    resize: none;
}

.popup-form button {
    background-color: var(--col-main-blue);
    color: var(--col-white);
    margin-top: 15px;
    padding: 8px 20px 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.popup-form button {
    background-color: var(--col-main-blue);
    color: var(--col-white);
    margin-top: 15px;
    padding: 8px 20px 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.popup-form button:hover {
    background-color: var(--col-main-blue);
    color: var(--col-white);
    margin-top: 15px;
    padding: 8px 20px 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.popup-form .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

/*--------end of contact form--------*/

@media screen and (max-width: 1200px) {
    
    header {
        height: 68px;
    }

    .head h2 {
        font-size: 24px;
        line-height: 68px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 18px;
    }

    .box {
        width: (275px);
        height: (387px);
    }

    a,
    nav.head ul li a {
        font-size: 14px ;
    }

    p,
    .da-desc {
        font-size: 14px;
    }

    div.box {
        font-size: 15px;
    }

    button {
        font-weight: 400;
    }

    nav.foot a i {
        font-size: 24px;
    }

    div.copyright p {
        font-size: 15px;
    }
}

@media screen and (max-width: 920px) {
    
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

}

@media screen and (max-width: 910px) {

    .box {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .product-one,
    .product-two,
    .product-three {
        height: 150px;
    }

    .three-columns {
        display: flex;
        flex-direction: column;
    }

    section#about {
        height: 1000px
    }

    .about-logo {
        margin-top: 300px;
        height: 250px;
    }

    div.conglomerate {
        margin-top: 40px;
    }

    .two-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 800px) {

    .box {
        width: 100%;
        
        margin-bottom: 20px;
    }

    .product-one,
    .product-two,
    .product-three {
        height: 150px;
    }

    .three-columns {
        display: flex;
        flex-direction: column;
    }

    section#about {
        height: 680px;
    }

    .product-intro {
        text-align: center;
    }
    
    i.fa-bars {
        display: inline;
        line-height: 70px;
    }   

    nav ul li a {
        max-width: 0px;
        visibility: hidden;
    }

    h1 {
        font-size: 25px;
    }

    h2,
    h4 {
        font-size: 18px;
    }

    .box {
        width: 230px;
        height: 425px;
    }

    footer {
        margin-top: 125px;
    }
}

@media screen and (max-width: 540px) {

    header {
        height: 70px;
    }

    i.fa-bars {
        line-height: 60px;
        font-size: 25px;
    }

    .head h2 {
        font-size: 22px;
        line-height: 60px;
    }

    .about-logo {
        margin-top: 150px;
        width: 350px;
        height: 225px;
    }

    div.we-are-astro {
        margin-top: 40px;
    }

    .box {
        width: 100%;
        height: 380px;
    }

    nav.foot a i {
        font-size: 20px;
    }

    div.copyright p {
        font-size: 12px;
    }

    .about-logo {
        width: 100%;
        margin-top: 400px;
    }

    .two-columns {
        width: 100%;
        box-sizing: border-box;
    }

    div.da-desc {
        width: 100%;
    }

    .click-here {
        margin: 10px 0 40px 0;
    }

    #about {
        height: 10px;
    }

    footer {
        margin-top: 200px;
    }

    .cloud,
    .cloud-two,
    .cloud-three,
    .cloud-four {
        visibility: hidden;
    }

    .cloud-mass {
        left: -60%;
        animation: figure8 12s infinite;
    }

    .cloud-mass-two {
        left: 60%;
        animation: figure8 14s infinite;
    }
    
}